.card{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.content{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.content .image{
    width:40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content span:nth-child(1) {
    font-size: 11px;
}

.content span:nth-of-type(2) {
    font-size: 21px;
    font-weight: bold;
}

.percentage{
    color: #4AD15F;
    background-color: #E9F9EB;
    border-radius: 34px;
    width: 50px;
    height: 25px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

